<head>
	<style>
	table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
	}
	td, th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
	}
	tr:nth-child(even) {
		background-color: #dddddd;
	}
</style>
</head>
<body>

<%= link_to 'New Sales Person', new_person_path %>
<h2>Sales People</h2>
<table>
		<tr>
			<th>Person Name</th>
			<th>Address</th>
			
		</tr>
		<% @people.each do |person| %>
		<tr>
			<td><%= link_to person.name, person %></td>
			<td><%= person.address %></td>	
		</tr>
		<% end %>
	</table>
</body>